<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battlebots API</title>
</head>
<body>
  <div>
    <h1>Battlebots API</h1>
    <a href="https://britdesignedit-895777.postman.co/workspace/Mrs-Britt's-Workspace~2850cd02-ef87-4895-85ff-34830443260f/collection/48125527-1b0e8379-d416-499c-8d13-11f6f1e2df5a?action=share&creator=48125527">POSTman Documentation</a>
    <p>For more details on the robots being requested check out the <a href="https://battlebots.com/">Battlebots Official Website</a>. 
      <br>To see the code behind this battlebots appreciation app visit <a href="https://github.com/mrsbarker/battlebots">my github</a>. Thanks for the views and clicks!</p>
  </div>
  
</body>
</html>